@import "tailwindcss";
@theme {
  --color-sec-bgc: #1f1f1f;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_18pt-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_18pt-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_18pt-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_18pt-SemiBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_24pt-Bold.ttf");
  font-weight: 900;
}
* {
  font-family: "Inter";
}
.scrolling {
  overflow: scroll;
  max-height: 100vh;
}
.scrolling::-webkit-scrollbar {
  display: none;
}
